/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

body {
  width: 648px;
  background-color: #f0efef;
  font-family: 'Open Sans', sans-serif;
}

div.toparea{
  background-image: url("images/header_bg.jpg");
  background-size: 648px 380px;
  height: 380px;
  width: 648px;
}

div.benefits { 
  margin-left: 60px;
  margin-top: 50px;
  width: 48%;
  margin-bottom: 50px;
}

div.signup { 
  background-color: #f9e42e;
  padding-top: 2px;
  padding-bottom: 15px;
  font-size: 12px;
}

div.testimonial { 
  background-image: url("images/testimonial_bg.jpg");
  height: 215px;
}

h1 { 
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

h2 { 
  font-size: 20px;
  font-weight: 600;
}

h3.toplogo {
  font-size: 24px;
  font-weight: 800;
  color: white;
  margin-left: 60px;
  padding-top: 20px;
  margin-top: 0px;
}

p, ul, li { 
  font-size: 13px;
  font-weight: 300;
  color: #606161;
}

blockquote { 
  font-size: 18px;
  font-weight: 300; 
  font-style: italic;
  color: white;
  display: block;
  width: 50%;
  text-align: center;
  padding-top: 40px;
}

p.user { 
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}

h4 { 
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  padding-top: 7px;
}

div.button {
  background-color: #f9e42e;
  width: 25%;
  height: 36px;
  margin: auto;
  border-radius: 5px;
}

div#blue {
  background: #033048;
  color: white;
}

div.footer {
  text-align: center;
  background-color: #121212;
  padding-top: 10px;
  padding-bottom: 15px;

}

h3.bottomlogo {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
}

div.social { 
  margin-top: 30px;
  margin-bottom: 30px;
}

img.facebook, img.twitter { 
  max-height: 20px;
  margin-left: 10px;
  margin-right: 15px;
}

p.footer { 
  color: white;
  font-size: 9px;
  font-weight: 600;
}
